.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.m-reset {
  margin: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.height {
  width: auto;
  height: 100%;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}