$primary: #1F89AB;
$secondary: #00A8D5;
$white: #FFFFFF;
$dark: #253138;
$dark-light: #515c63;
$pretty: #E80543;
$section-gray: #F9F9F9;

/* Color Theme Swatches in Hex */
$air-colors-1-hex: #E80543;
$air-colors-2-hex: #00A8D5;
$air-colors-3-hex: #1F89AB;
$air-colors-4-hex: #FFFFFF;
$air-colors-5-hex: #253138;

/* Color Theme Swatches in RGBA */
$air-colors-1-rgba: rgba(232,4,66, 1);
$air-colors-2-rgba: rgba(0,168,212, 1);
$air-colors-3-rgba: rgba(31,137,170, 1);
$air-colors-4-rgba: rgba(255,255,255, 1);
$air-colors-5-rgba: rgba(36,49,56, 1);

/* Color Theme Swatches in HSLA */
$air-colors-1-hsla: hsla(343, 95, 46, 1);
$air-colors-2-hsla: hsla(192, 100, 41, 1);
$air-colors-3-hsla: hsla(194, 69, 39, 1);
$air-colors-4-hsla: hsla(0, 0, 100, 1);
$air-colors-5-hsla: hsla(202, 20, 18, 1);